node_modules
vendor
build/*
!build/index.js
!build/index-12.js
!build/index-18.js
!build/index-24.js
!build/index-36.js
!build/index-45.js
!build/index-60.js
!build/index-90.js
!build/index.asset.php
!build/index.css
!build/index-12.css
!build/index-18.css
!build/index-24.css
!build/index-36.css
!build/index-45.css
!build/index-60.css
!build/index-90.css
!build/style-index.css
!build/style-index-12.css
!build/style-index-18.css
!build/style-index-24.css
!build/style-index-36.css
!build/style-index-45.css
!build/style-index-60.css
!build/style-index-90.css
!build/settings.asset.php
!build/settings.css
composer.phar
/release
.DS_Store
.idea
/test-results/
/artifacts/
/blob-report/
/playwright/.cache/
.phpunit.result.cache
